doctype html 
html(lang="ko")
    head
        title #{pageTitle} | No Spoiler
        link(rel="shortcut icon" href="/favicon/favicon.ico")
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
    body
        div#wrapper
            header#side-bar
                div
                    a(href="/")
                        div#side-bar_title
                            div
                                img(src="https://no-spoiler.s3.ap-northeast-2.amazonaws.com/logo.png" crossorigin)
                                h1 No Spoiler
                            h2 but only trailer
                    div#side-bar_auth
                        if !locals.loggedIn
                                div
                                    a(href="/join") 
                                        i(class="fas fa-sign-in-alt")
                                        span  Join
                                div 
                                    a(href="/login")
                                        i(class="fas fa-ticket-alt")
                                        span  Login
                        else    
        
                                div
                                    a(href=`/users/${loggedInUser._id}`) 
                                            i(class="fas fa-id-badge")
                                            span   Profile 

                                div
                                    a(href="/users/logout")
                                            i(class="fas fa-sign-in-alt")
                                            span  Logout
                    

                    nav 
                        ul
                            if locals.loggedIn
                                li
                                    a(href="/videos/upload") Upload
                                    
                            li
                                a(href="/videos/") Trailers  
                            li 
                                a(href="/search") Search
                include partials/footer
                        

            main
                block content
    script(src="/assets/js/main.js")
    block scripts
            