extends base.pug

    
block content 
    if errorMessage 
        span=errorMessage
    div.profile_wrapper
        div(class="profile_container changePassword-form")
            h1 Change password
            hr
            form(method="POST" )
                label(for="current-password") Current Password
                input(type="password" id="current-password" name="currentPassword" requried)
                label(for="new-password") New Password
                input(type="password" id="new-password" name="newPassword" requried)
                label(for="new-password2") New Password Confirm
                input(type="password" id="new-password2" name="newPassword2" requried)
                input(value="Change Password", type="submit")