extends base

block content
    block content
    
    div#auth_wrapper
        if errorMessage
            span
                i(class="fas fa-exclamation-triangle")  
                span  #{errorMessage}
        div#auth_container 
            div#auth_title
                h1 LOG-IN
            form(method="POST")
                input(name="username", type="text", required, placeholder="username")
                input(name="password", type="password", required, placeholder="password")
                input(type="submit", value="Login")

            div 
                span Don't have an account yet?  
                a(href="/join") 
                        i(class="fas fa-sign-in-alt")
                        span  Join now!