extends base
include mixins/video

block content
    div.list_wrapper
            div.list_title
                h2 Search
                hr
            div#search_form_container
                form(method="GET" id="search_form")
                    input(placeholder="Search by title", type="text", name="keyword")
                    input(type="submit" value="Search") 
            div.grid_container
                div.video_grid.list
                    each video in videos
                        +video(video)