extends base.pug

block content
    div.upload_wrapper
        div.record_container
            h1 Record Video
            hr
            video#preview
            button#startBtn Start Recording
        if errorMessage
            span=errorMessage
        div.upload_container
            h1 Upload Trailer
            hr
            div.upload_container_form
                form(method="POST", enctype="multipart/form-data")
                    div
                        label(for="thumbnail") Thumbnail
                        input(type="file", id="thumbnail", name="thumbnail", accept="image/*" required)
                        label(for="video") Video File
                        input(type="file", id="video", accept="video/*" name="video" required)
                    div
                        label(for="title") Title
                        input(placeholder="Title", id="title", required, type="text", name="title", maxlength=80)
                        label(for="description") Desicription
                        textarea(placeholder="Description", id="descripttion", required, type="textarea", name="description")
                        label(for="hashtags") Hashtags
                        input(placeholder="Hashtags, seperated by comma.", id="hashtags", required, type="text", name="hashtags")
                        input(type="submit", value="Upload")
            block scripts
                script(src="/assets/js/recorder.js")
